*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    height: 100%;
}

.parent{
    display: flex;
}

.sidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #851d86;
}

.sidebarp{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.img-sidebar{
    text-align: center;
}

.img-sidebar{
    margin-left: 17px;
    border: 6px solid white;
    border-radius: 50px;
}

.menu{
    margin: 20px 0;
    text-align: center;
    position: relative;
}

.menu a{
    color: white;
    opacity: 0.5;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
}

.menu a:hover{
    color: white;
    opacity: 2;
}

.content{
    position: absolute;
    left: 20%;
    width: 80%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    overflow-y: auto;
    padding: 0 3%;
}

section.desc{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

section.desc h2{
    color: black;
    font-size: 30px;
}

section.desc h2 > span,
section.desc h3 > span,
.title > span
{
    color: #a626a6;
}

section.desc h3{
    margin: 15px 0;
    color: black;
    font-size: 20px;
}

section.desc p{
    color: black;
    font-size: 18px;
    margin-top: 10px;
}

.title{
    color: black;
    font-size: 28px;
    margin-top: 50px;
    font-weight: bold;
}
